html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'UTM';
  src: url("../fonts/UTMFlavour.woff2") format("woff2"), url("../fonts/UTMFlavour.woff") format("woff"), url("../fonts/UTMFlavour.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SVN-Sarifa';
  src: url("../fonts/SVN-Sarifa.woff2") format("woff2"), url("../fonts/SVN-Sarifa.woff") format("woff"), url("../fonts/SVN-Sarifa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'iCielBC Burford Rustic';
  src: url("../fonts/iCielBCBurfordRustic-Light.woff2") format("woff2"), url("../fonts/iCielBCBurfordRustic-Light.woff") format("woff"), url("../fonts/iCielBCBurfordRustic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

img {
  display: block;
  width: 100%;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s; }

.utm {
  font-family: UTM; }

.svn {
  font-family: SVN-Sarifa; }

.ibr {
  font-family: iCielBC Burford Rustic; }

.desktop-w {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }

.desktop-sm {
  width: 70%;
  max-width: 1100px; }
  @media (max-width: 1023px) {
    .desktop-sm {
      width: 100%;
      padding: 0 20px; } }

.desktop-md {
  width: 80%;
  max-width: 1500px; }
  @media (max-width: 1023px) {
    .desktop-md {
      width: 100%;
      padding: 0 20px; } }

#reveal {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.visible {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.isMobile {
  display: none; }
  @media (max-width: 1023px) {
    .isMobile {
      display: block; } }

.isPC {
  display: block; }
  @media (max-width: 1023px) {
    .isPC {
      display: none; } }

body {
  background-color: #af0303;
  line-height: 1.5;
  font-family: 'SVN-Sarifa';
  font-weight: normal;
  color: white;
  font-size: 16px; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes balloon {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@keyframes balloon {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@-webkit-keyframes inAndOut {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes inAndOut {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

section.banner {
  position: relative;
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10%;
  overflow: hidden; }
  @media (max-width: 1023px) {
    section.banner {
      margin-bottom: 0; } }
  section.banner .icon {
    position: absolute; }
    section.banner .icon.icon1 {
      width: 30%;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
      transform: translateX(-200px);
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      section.banner .icon.icon1.animate {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px); }
      @media (max-width: 1365px) {
        section.banner .icon.icon1 {
          width: 40%; } }
    section.banner .icon.icon2 {
      top: 0;
      right: 0;
      width: 40%; }
    section.banner .icon.icon3 {
      width: 25%;
      right: 10%;
      bottom: 10%;
      z-index: 1; }
    section.banner .icon.icon4 {
      width: 20%;
      left: 0%;
      bottom: 0%;
      z-index: 1;
      opacity: 0;
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s; }
      section.banner .icon.icon4.animate {
        opacity: 1; }
      section.banner .icon.icon4 img {
        -webkit-animation: opacity ease infinite 3s;
        animation: opacity ease infinite 3s; }
  section.banner .background2 {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 80%; }
  section.banner .wrap {
    position: relative;
    top: 300px;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }
    section.banner .wrap.animate {
      opacity: 1;
      top: 0; }
    section.banner .wrap .bg {
      position: absolute;
      top: 50%;
      left: 40%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 115%;
      z-index: -1; }
      @media (max-width: 1365px) {
        section.banner .wrap .bg {
          width: 200%; } }
      @media (max-width: 1023px) {
        section.banner .wrap .bg {
          width: 250%; } }
    section.banner .wrap .pic {
      position: absolute;
      top: 85%;
      right: 0%;
      -webkit-transform: translate(15%, -50%);
      -ms-transform: translate(15%, -50%);
      transform: translate(15%, -50%);
      width: 70%;
      z-index: 2;
      -webkit-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s; }
      section.banner .wrap .pic:hover {
        width: 72%;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
    section.banner .wrap .text {
      width: 70%; }
      @media (max-width: 1023px) {
        section.banner .wrap .text {
          width: 85%; } }
      section.banner .wrap .text .text-title {
        color: #d22e1e;
        font-size: 3.75em;
        line-height: 1;
        margin: 0; }
        @media (max-width: 1600px) {
          section.banner .wrap .text .text-title {
            font-size: 3em; } }
        @media (max-width: 1365px) {
          section.banner .wrap .text .text-title {
            padding-right: 10px; } }
        @media (max-width: 1023px) {
          section.banner .wrap .text .text-title {
            font-size: 1.6em; } }
      section.banner .wrap .text .text-content {
        color: black;
        font-size: 1.25em;
        padding-right: 20%;
        margin-top: 3%; }
        @media (max-width: 1023px) {
          section.banner .wrap .text .text-content {
            font-size: 1em; } }

section.section1 {
  position: relative; }
  section.section1 .wrap {
    position: relative; }
    section.section1 .wrap h2 {
      position: relative;
      top: 100px;
      opacity: 0;
      -webkit-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s; }
      section.section1 .wrap h2.animate {
        top: 0;
        opacity: 1; }
  section.section1 .title {
    color: #ffe306;
    font-size: 2.625em;
    line-height: 1; }
    @media (max-width: 1600px) {
      section.section1 .title {
        font-size: 2.5em; } }
    @media (max-width: 1023px) {
      section.section1 .title {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 50px; } }
  section.section1 .bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%); }
  section.section1 .wishList {
    position: relative; }
    section.section1 .wishList .list-anchor {
      position: absolute;
      top: 50%; }
    section.section1 .wishList .list {
      opacity: 0;
      -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
      transform: translateY(100px);
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      overflow: hidden;
      padding: 4% 5% 4%; }
      section.section1 .wishList .list.animate {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
      @media (max-width: 767px) {
        section.section1 .wishList .list {
          overflow: unset; } }
      section.section1 .wishList .list .item {
        opacity: 1;
        width: 25%;
        -webkit-animation: balloon 3s infinite ease 0.5s;
        animation: balloon 3s infinite ease 0.5s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s; }
        @media (max-width: 1023px) {
          section.section1 .wishList .list .item {
            width: 50%; } }
        section.section1 .wishList .list .item:nth-child(even) {
          padding-top: 7%;
          -webkit-animation: balloon 3s infinite ease 0.3s;
          animation: balloon 3s infinite ease 0.3s; }
        section.section1 .wishList .list .item .img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
          -ms-transform: scale(1.2); }
          section.section1 .wishList .list .item .img img {
            -webkit-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            transition: all ease 0.5s; }
            section.section1 .wishList .list .item .img img:hover {
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: all ease 0.5s;
              -o-transition: all ease 0.5s;
              transition: all ease 0.5s; }
  section.section1 .content {
    font-size: 1.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    top: 200px;
    opacity: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s; }
    section.section1 .content.animate {
      top: 0;
      opacity: 1; }
    @media (max-width: 1023px) {
      section.section1 .content {
        font-size: 1em; } }
    section.section1 .content .bl {
      width: calc(50% - 20px); }
      @media (max-width: 1023px) {
        section.section1 .content .bl {
          width: 100%; } }
      section.section1 .content .bl.left .text p:first-child {
        margin-bottom: 10px; }
      section.section1 .content .bl.right .text p:first-child {
        margin-bottom: 10px; }
  section.section1 .icon.icon1 {
    position: absolute;
    width: 5%;
    right: 5%;
    bottom: 2%;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
    section.section1 .icon.icon1.animate {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

section.section2 {
  position: relative;
  padding-top: 15%;
  overflow: hidden; }
  section.section2 .item {
    position: absolute; }
    section.section2 .item.item1 {
      width: 10%;
      top: 0;
      left: 100px;
      opacity: 0;
      -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
      transform: translate(0, 40%);
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s; }
      section.section2 .item.item1.animate {
        left: 0;
        opacity: 1; }
    section.section2 .item.item2 {
      width: 15%;
      bottom: 0;
      left: 100px;
      opacity: 0;
      -webkit-transform: translate(0%, 30%);
      -ms-transform: translate(0%, 30%);
      transform: translate(0%, 30%);
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s; }
      @media (max-width: 1023px) {
        section.section2 .item.item2 {
          width: 40%; } }
      section.section2 .item.item2.animate {
        left: 0;
        opacity: 1; }
    section.section2 .item.item3 {
      width: 30%;
      bottom: 0;
      right: 0;
      -webkit-transform: translate(20%, 50%);
      -ms-transform: translate(20%, 50%);
      transform: translate(20%, 50%); }
      @media (max-width: 1023px) {
        section.section2 .item.item3 {
          width: 90%;
          -webkit-transform: translate(40%, 35%);
          -ms-transform: translate(40%, 35%);
          transform: translate(40%, 35%); } }
  section.section2 .desktop-sm {
    margin-bottom: 50px; }
    section.section2 .desktop-sm .wrap h3 {
      color: #ffe306;
      font-size: 2.625em;
      position: relative;
      left: 100px;
      opacity: 0;
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      section.section2 .desktop-sm .wrap h3.animate {
        left: 0;
        opacity: 1; }
      @media (max-width: 1600px) {
        section.section2 .desktop-sm .wrap h3 {
          font-size: 2.5em; } }
      @media (max-width: 1023px) {
        section.section2 .desktop-sm .wrap h3 {
          font-size: 1.8em;
          text-align: center; } }
  @media (max-width: 1600px) {
    section.section2 .desktop-md {
      padding-bottom: 50px; } }
  section.section2 .desktop-md .wrap .hotmom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    top: 150px;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    section.section2 .desktop-md .wrap .hotmom.animate {
      opacity: 1;
      top: 0; }
    section.section2 .desktop-md .wrap .hotmom .quote {
      width: calc(50% - 20px);
      margin-bottom: 50px; }
      @media (max-width: 1023px) {
        section.section2 .desktop-md .wrap .hotmom .quote {
          width: 100%; } }
      section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .img {
        position: absolute;
        width: 30%;
        bottom: 0;
        left: inherit !important;
        right: 0; }
        @media (max-width: 1600px) {
          section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .img {
            width: 35%; } }
      section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .quote-content {
        padding-left: 0;
        padding-right: 30%; }
        section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .quote-content .text:before {
          right: inherit !important;
          left: 50%;
          -webkit-transform: translate(-120%, -80%);
          -ms-transform: translate(-120%, -80%);
          transform: translate(-120%, -80%); }
          @media (max-width: 1365px) {
            section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .quote-content .text:before {
              -webkit-transform: translate(-85%, -55%);
              -ms-transform: translate(-85%, -55%);
              transform: translate(-85%, -55%); } }
          @media (max-width: 1023px) {
            section.section2 .desktop-md .wrap .hotmom .quote:nth-child(even) .quote-wrap .quote-content .text:before {
              -webkit-transform: translate(-115%, -55%);
              -ms-transform: translate(-115%, -55%);
              transform: translate(-115%, -55%); } }
      section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap {
        background-color: #f9e1c3;
        border-radius: 20px;
        padding: 30px;
        position: relative;
        overflow: hidden; }
        @media (max-width: 1600px) {
          section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap {
            padding: 15px; } }
        @media (max-width: 1023px) {
          section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap {
            overflow: visible; } }
        section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap:before {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          right: 50%;
          -webkit-transform: translate(50%, -50%);
          -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
          border-radius: 20px;
          border: 3px solid #f9c253; }
        section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .img {
          position: absolute;
          width: 30%;
          bottom: 0;
          left: 0; }
          @media (max-width: 1600px) {
            section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .img {
              width: 35%; } }
        section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content {
          color: #9e0202;
          font-size: 1.375em;
          padding-left: 30%;
          padding-top: 15px;
          height: 230px;
          text-align: center; }
          @media (max-width: 1600px) {
            section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content {
              font-size: 1.25em; } }
          @media (max-width: 1023px) {
            section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content {
              font-size: 1.125em; } }
          @media (max-width: 767px) {
            section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content {
              padding-left: 20%; } }
          section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content p:last-child {
            margin-top: 50px; }
            @media (max-width: 767px) {
              section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content p:last-child {
                margin-top: 10px; } }
          section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content .text:before {
            content: "";
            display: block;
            position: absolute;
            width: 17vh;
            height: 17vh;
            top: 50%;
            right: 50%;
            -webkit-transform: translate(120%, -80%);
            -ms-transform: translate(120%, -80%);
            transform: translate(120%, -80%);
            background: url("../images/49.png") center no-repeat;
            background-size: 100%; }
            @media (max-width: 1365px) {
              section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content .text:before {
                width: 10vh;
                height: 10vh;
                -webkit-transform: translate(85%, -55%);
                -ms-transform: translate(85%, -55%);
                transform: translate(85%, -55%); } }
            @media (max-width: 1023px) {
              section.section2 .desktop-md .wrap .hotmom .quote .quote-wrap .quote-content .text:before {
                width: 15vh;
                height: 15vh;
                -webkit-transform: translate(115%, -55%);
                -ms-transform: translate(115%, -55%);
                transform: translate(115%, -55%); } }

section.section3 {
  position: relative;
  padding-top: 80px; }
  @media (max-width: 767px) {
    section.section3 {
      overflow: hidden; } }
  section.section3 .background1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 750px;
    background: #f9e1c3;
    z-index: -1;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    @media (max-width: 1365px) {
      section.section3 .background1 {
        height: 550px; } }
    @media (max-width: 1023px) {
      section.section3 .background1 {
        height: 1550px; } }
    @media (max-width: 767px) {
      section.section3 .background1 {
        height: 925px; } }
    section.section3 .background1.animate {
      width: 100%;
      opacity: 1; }
  section.section3 .apricot {
    position: absolute;
    width: 25%;
    top: 0;
    left: -100px;
    opacity: 0;
    -webkit-transform: translate(0, 80%);
    -ms-transform: translate(0, 80%);
    transform: translate(0, 80%);
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    @media (max-width: 1600px) {
      section.section3 .apricot {
        -webkit-transform: translate(0, 130%);
        -ms-transform: translate(0, 130%);
        transform: translate(0, 130%); } }
    @media (max-width: 1365px) {
      section.section3 .apricot {
        -webkit-transform: translate(0, 165%);
        -ms-transform: translate(0, 165%);
        transform: translate(0, 165%); } }
    @media (max-width: 767px) {
      section.section3 .apricot {
        -webkit-transform: translate(0, 210%);
        -ms-transform: translate(0, 210%);
        transform: translate(0, 210%);
        width: 30%; } }
    section.section3 .apricot.animate {
      left: 0;
      opacity: 1; }
  section.section3 .desktop-md .wrap .first .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section.section3 .desktop-md .wrap .first .wrap .block.block1 {
      width: calc(35% - 5px); }
      @media (max-width: 1023px) {
        section.section3 .desktop-md .wrap .first .wrap .block.block1 {
          width: 100%; } }
      section.section3 .desktop-md .wrap .first .wrap .block.block1 .isMobile {
        padding-bottom: 20px; }
        section.section3 .desktop-md .wrap .first .wrap .block.block1 .isMobile h3 {
          color: #ed1c24;
          font-size: 1.8em;
          text-shadow: 0 1px 0 yellow;
          text-align: center; }
        section.section3 .desktop-md .wrap .first .wrap .block.block1 .isMobile p {
          color: #9e0202;
          font-size: 1em; }
      section.section3 .desktop-md .wrap .first .wrap .block.block1 .img {
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        left: -100px;
        position: relative; }
        section.section3 .desktop-md .wrap .first .wrap .block.block1 .img:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
          -webkit-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s;
          cursor: pointer; }
        section.section3 .desktop-md .wrap .first .wrap .block.block1 .img.animate {
          left: 0;
          opacity: 1; }
    section.section3 .desktop-md .wrap .first .wrap .block.block2 {
      width: calc(65% - 5px);
      padding-left: 5%;
      padding-top: 5%;
      position: relative;
      opacity: 0;
      top: 100px;
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s; }
      @media (max-width: 1365px) {
        section.section3 .desktop-md .wrap .first .wrap .block.block2 {
          padding-left: 10%; } }
      @media (max-width: 1023px) {
        section.section3 .desktop-md .wrap .first .wrap .block.block2 {
          width: 100%;
          padding: 0; } }
      section.section3 .desktop-md .wrap .first .wrap .block.block2.animate {
        opacity: 1;
        top: 0; }
      section.section3 .desktop-md .wrap .first .wrap .block.block2 .text {
        position: relative;
        opacity: 0;
        top: 100px;
        -webkit-transition: ease 1s;
        -o-transition: ease 1s;
        transition: ease 1s; }
        section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1 {
          -webkit-transition-delay: 1s;
          -o-transition-delay: 1s;
          transition-delay: 1s; }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1.animate {
            top: 0;
            opacity: 1; }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1 h3 {
            color: #ed1c24;
            font-size: 2.625em;
            text-shadow: 0 0 0 yellow; }
            @media (max-width: 1600px) {
              section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1 h3 {
                font-size: 2.5em; } }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1 p {
            color: #9e0202;
            font-size: 1.25em; }
            @media (max-width: 1600px) {
              section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text1 p {
                font-size: 1.125em; } }
        section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2 {
          -webkit-transition-delay: 1s;
          -o-transition-delay: 1s;
          transition-delay: 1s; }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2.animate {
            top: 0;
            opacity: 1; }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2 p {
            font-size: 1.25em; }
            @media (max-width: 1600px) {
              section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2 p {
                font-size: 1.125em; } }
            @media (max-width: 1023px) {
              section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2 p {
                font-size: 1em; } }
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .text.text2 i {
            font-style: italic; }
      section.section3 .desktop-md .wrap .first .wrap .block.block2 .img {
        margin-top: 40px;
        margin-bottom: 40px;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s; }
        @media (max-width: 1600px) {
          section.section3 .desktop-md .wrap .first .wrap .block.block2 .img {
            margin-top: 20px; } }
        section.section3 .desktop-md .wrap .first .wrap .block.block2 .img:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
          -webkit-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s;
          cursor: pointer; }
  section.section3 .desktop-md .wrap .second {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    top: 150px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    section.section3 .desktop-md .wrap .second.animate {
      top: 0;
      opacity: 1; }
    section.section3 .desktop-md .wrap .second .block {
      position: relative;
      width: calc(50% - 20px); }
      @media (max-width: 1023px) {
        section.section3 .desktop-md .wrap .second .block {
          width: 100%; } }
      section.section3 .desktop-md .wrap .second .block.block1 .background2 {
        position: absolute;
        top: -2%;
        left: -2%;
        z-index: -1;
        opacity: 0.5; }
        @media (max-width: 1023px) {
          section.section3 .desktop-md .wrap .second .block.block1 .background2 {
            top: -4%;
            left: -3%; } }
      @media (max-width: 767px) {
        section.section3 .desktop-md .wrap .second .block.block2 {
          margin-top: 20px; } }
      section.section3 .desktop-md .wrap .second .block .pic-zoom {
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s; }
        section.section3 .desktop-md .wrap .second .block .pic-zoom:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02);
          -webkit-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s;
          cursor: pointer; }
  section.section3 .desktop-md .wrap .last {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40%; }
    @media (max-width: 1023px) {
      section.section3 .desktop-md .wrap .last {
        padding-left: 0; } }
    section.section3 .desktop-md .wrap .last .txt {
      position: relative;
      top: 100px;
      opacity: 0;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
      font-size: 1.25em; }
      @media (max-width: 1600px) {
        section.section3 .desktop-md .wrap .last .txt {
          font-size: 1.125em; } }
      @media (max-width: 1023px) {
        section.section3 .desktop-md .wrap .last .txt {
          font-size: 1em; } }
      section.section3 .desktop-md .wrap .last .txt.animate {
        top: 0;
        opacity: 1; }
  section.section3 .background3 {
    position: absolute;
    width: 79.2%;
    height: 40%;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(0%, 34%);
    -ms-transform: translate(0%, 34%);
    transform: translate(0%, 34%);
    z-index: -1;
    background-color: #640202;
    display: block;
    content: ""; }
    @media (max-width: 1023px) {
      section.section3 .background3 {
        display: none; } }
    @media (max-width: 767px) {
      section.section3 .background3 {
        display: block; } }

section.section4 {
  padding-bottom: 70px; }
  section.section4 .desktop-md {
    padding-bottom: 50px; }
    section.section4 .desktop-md .wrap .video-block {
      position: relative;
      top: 100px;
      opacity: 0;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s; }
      section.section4 .desktop-md .wrap .video-block.animate {
        opacity: 1;
        top: 0; }
      section.section4 .desktop-md .wrap .video-block .icon {
        position: absolute;
        display: block;
        content: "";
        bottom: -7%;
        left: 3%;
        width: 100px;
        z-index: 3; }
      section.section4 .desktop-md .wrap .video-block .video-container {
        position: relative;
        padding-bottom: 40%;
        height: 0; }
        section.section4 .desktop-md .wrap .video-block .video-container .cover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url("../images/28.png");
          background-size: cover;
          z-index: 2;
          cursor: pointer;
          opacity: 1; }
          section.section4 .desktop-md .wrap .video-block .video-container .cover .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            width: 5%;
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s; }
            section.section4 .desktop-md .wrap .video-block .video-container .cover .play-btn:hover {
              -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2);
              -webkit-transition: all ease 0.3s;
              -o-transition: all ease 0.3s;
              transition: all ease 0.3s; }
        section.section4 .desktop-md .wrap .video-block .video-container .youtube-iframe iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1; }
  section.section4 .desktop-sm .wrap .text {
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    section.section4 .desktop-sm .wrap .text.animate {
      opacity: 1;
      top: 0; }
    section.section4 .desktop-sm .wrap .text p {
      border: 1px solid white;
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 4px;
      font-size: 1.25em; }
      @media (max-width: 1600px) {
        section.section4 .desktop-sm .wrap .text p {
          font-size: 1.125em; } }
      @media (max-width: 1023px) {
        section.section4 .desktop-sm .wrap .text p {
          font-size: 1em; } }

section.section5 {
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%; }
  @media (max-width: 767px) {
    section.section5 {
      padding-bottom: 10%; } }
  section.section5 .background4 {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: -1;
    -webkit-transform: translate(0%, -35%);
    -ms-transform: translate(0%, -35%);
    transform: translate(0%, -35%); }
  section.section5 .item {
    position: absolute;
    z-index: -1; }
    section.section5 .item.item1 {
      top: 50%;
      left: 0;
      width: 10%;
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
      -webkit-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      transition-delay: 0.25s; }
      section.section5 .item.item1.animate {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    section.section5 .item.item2 {
      top: 50%;
      right: 0;
      width: 15%;
      z-index: -1;
      -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
      transform: translate(0, 0%);
      opacity: 0;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      @media (max-width: 1023px) {
        section.section5 .item.item2 {
          -webkit-transform: translate(0, -75%);
          -ms-transform: translate(0, -75%);
          transform: translate(0, -75%); } }
      section.section5 .item.item2.animate {
        opacity: 1;
        -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
        transform: translate(0, -20%); }
  section.section5 .desktop-w {
    font-size: 1.5em;
    text-align: center;
    margin-top: 5px; }
  section.section5 .desktop-md .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section.section5 .desktop-md .wrap .block {
      width: 33%;
      padding: 0 2%;
      margin: 0 auto;
      margin-bottom: 5%; }
      @media (max-width: 1023px) {
        section.section5 .desktop-md .wrap .block {
          width: 50%;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      section.section5 .desktop-md .wrap .block .icon {
        width: 80%;
        margin: 0 auto; }
      section.section5 .desktop-md .wrap .block .count {
        font-weight: 300;
        color: #ffe306;
        font-size: 5em;
        letter-spacing: -15px;
        text-align: center;
        line-height: 1;
        margin-bottom: -15px;
        display: inline-block;
        position: relative; }
        @media (max-width: 1600px) {
          section.section5 .desktop-md .wrap .block .count {
            font-size: 4em; } }
        @media (max-width: 1365px) {
          section.section5 .desktop-md .wrap .block .count {
            font-size: 3.5em; } }
        @media (max-width: 1023px) {
          section.section5 .desktop-md .wrap .block .count {
            letter-spacing: -5px; } }
        @media (max-width: 767px) {
          section.section5 .desktop-md .wrap .block .count {
            font-size: 1.5em; } }
        section.section5 .desktop-md .wrap .block .count:before {
          width: 30px;
          height: 30px;
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../images/plus.png") center no-repeat;
          background-size: 100%;
          -webkit-transform: translate(-100%, -50%);
          -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%); }
          @media (max-width: 767px) {
            section.section5 .desktop-md .wrap .block .count:before {
              width: 15px;
              height: 15px; } }
      @media (max-width: 1023px) {
        section.section5 .desktop-md .wrap .block .text {
          font-size: 1em; } }
      @media (max-width: 767px) {
        section.section5 .desktop-md .wrap .block .text {
          font-size: 1em; } }
  section.section5 .upper {
    padding-bottom: 4%; }
    section.section5 .upper .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      section.section5 .upper .wrap .block {
        width: calc(50% - 10px);
        padding: 0 5%;
        margin: 0 auto; }
        @media (max-width: 767px) {
          section.section5 .upper .wrap .block {
            padding: 0; } }
        section.section5 .upper .wrap .block .numbers {
          width: 30%;
          margin: 0 auto; }
        section.section5 .upper .wrap .block .text {
          width: 49%;
          margin: 0 auto; }
          @media (max-width: 1023px) {
            section.section5 .upper .wrap .block .text {
              font-size: 1em;
              width: 100%; } }
          @media (max-width: 767px) {
            section.section5 .upper .wrap .block .text {
              font-size: 14px; } }
  section.section5 .lower .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section.section5 .lower .wrap .block {
      width: 50%;
      position: relative;
      opacity: 0;
      top: 150px;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s; }
      @media (max-width: 1023px) {
        section.section5 .lower .wrap .block {
          width: 100%; } }
      section.section5 .lower .wrap .block.animate {
        opacity: 1;
        top: 0; }
      section.section5 .lower .wrap .block .text {
        background-color: #f9e1c3;
        padding: 16% 14% 10%;
        text-align: left;
        color: #af0303;
        position: relative; }
        @media (max-width: 1600px) {
          section.section5 .lower .wrap .block .text {
            padding: 12% 9% 10%;
            padding-bottom: 5%; } }
        @media (max-width: 1023px) {
          section.section5 .lower .wrap .block .text {
            padding: 4% 2% 0%; } }
        @media (max-width: 767px) {
          section.section5 .lower .wrap .block .text {
            padding: 25px 35px 0 15px; } }
        section.section5 .lower .wrap .block .text:before {
          display: block;
          content: "";
          position: absolute;
          width: 150px;
          height: 150px;
          top: 0;
          left: 0;
          -webkit-transform: translate(-30%, -50%);
          -ms-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
          background: url("../images/29.png") center no-repeat;
          background-size: 100%; }
          @media (max-width: 1023px) {
            section.section5 .lower .wrap .block .text:before {
              width: 8vh;
              height: 8vh; } }
        section.section5 .lower .wrap .block .text p {
          margin: 0 0 30px 0; }
          @media (max-width: 1023px) {
            section.section5 .lower .wrap .block .text p {
              font-size: 1em; } }
          @media (max-width: 767px) {
            section.section5 .lower .wrap .block .text p {
              font-size: 16px; } }
        section.section5 .lower .wrap .block .text h4 {
          font-size: 2em;
          position: relative;
          color: #ed1c24;
          font-weight: 300; }
          @media (max-width: 1023px) {
            section.section5 .lower .wrap .block .text h4 {
              font-size: 1.8em; } }
          @media (max-width: 767px) {
            section.section5 .lower .wrap .block .text h4 {
              font-size: 24px; } }
          section.section5 .lower .wrap .block .text h4:before {
            display: block;
            content: "";
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: #af0303; }
      section.section5 .lower .wrap .block.block1 {
        padding: 0% 6%; }
        @media (max-width: 1023px) {
          section.section5 .lower .wrap .block.block1 {
            padding: 0;
            margin-bottom: 20px; } }
        section.section5 .lower .wrap .block.block1 .text {
          border-radius: 0 0 0 65px; }
          @media (max-width: 767px) {
            section.section5 .lower .wrap .block.block1 .text {
              border-radius: 0 0 0 35px; } }
      section.section5 .lower .wrap .block.block2 {
        padding: 8% 3%; }
        @media (max-width: 1023px) {
          section.section5 .lower .wrap .block.block2 {
            padding: 0; } }
        section.section5 .lower .wrap .block.block2 .text {
          border-radius: 0 65px 0 0; }
          @media (max-width: 767px) {
            section.section5 .lower .wrap .block.block2 .text {
              border-radius: 0 35px 0 0; } }

section.section6 {
  padding-bottom: 70px; }
  section.section6 .desktop-w .wrap .text {
    font-size: 1.375em;
    text-align: center;
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    @media (max-width: 1600px) {
      section.section6 .desktop-w .wrap .text {
        font-size: 1.25em; } }
    @media (max-width: 1023px) {
      section.section6 .desktop-w .wrap .text {
        font-size: 1em; } }
    section.section6 .desktop-w .wrap .text.animate {
      opacity: 1;
      top: 0; }
  section.section6 .desktop-w .wrap .popUp {
    padding-top: 80px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    section.section6 .desktop-w .wrap .popUp.animate {
      top: 0;
      opacity: 1; }
    section.section6 .desktop-w .wrap .popUp span {
      font-size: 1.375em;
      color: #ffe306;
      display: inline-block;
      width: 20%;
      text-align: center;
      position: relative;
      -webkit-animation: inAndOut 3s infinite;
      animation: inAndOut 3s infinite; }
      @media (max-width: 1023px) {
        section.section6 .desktop-w .wrap .popUp span {
          width: 30%; } }
      @media (max-width: 1023px) {
        section.section6 .desktop-w .wrap .popUp span {
          width: 70%;
          font-size: 1em; } }
      section.section6 .desktop-w .wrap .popUp span:before {
        display: block;
        content: "";
        background: url("../images/10.png") center no-repeat;
        background-size: 100%;
        position: absolute;
        top: -50%;
        left: 15%;
        width: 30px;
        height: 30px;
        background-size: 100%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%); }
  section.section6 .desktop-w .wrap .wishes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
    @media (max-width: 1023px) {
      section.section6 .desktop-w .wrap .wishes {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    section.section6 .desktop-w .wrap .wishes.animate {
      top: 0;
      opacity: 1; }
    section.section6 .desktop-w .wrap .wishes .item {
      width: 33%;
      padding: 0 1%;
      -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      cursor: pointer; }
      @media (max-width: 1023px) {
        section.section6 .desktop-w .wrap .wishes .item {
          width: 50%;
          padding: 20px 40px; } }
      @media (max-width: 767px) {
        section.section6 .desktop-w .wrap .wishes .item {
          width: 100%; } }
      section.section6 .desktop-w .wrap .wishes .item:hover {
        margin-top: -1%;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s; }

section.section7 {
  padding: 3% 0;
  background-color: #f9e1c3; }
  @media (max-width: 1600px) {
    section.section7 {
      padding: 60px 0; } }
  section.section7 .desktop-md .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section.section7 .desktop-md .wrap .block {
      width: 33%;
      padding: 0 4%;
      position: relative;
      top: 100px;
      opacity: 0;
      -webkit-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s; }
      @media (max-width: 1365px) {
        section.section7 .desktop-md .wrap .block {
          padding: 0 1%; } }
      @media (max-width: 1023px) {
        section.section7 .desktop-md .wrap .block {
          width: 100%; } }
      section.section7 .desktop-md .wrap .block.animate {
        top: 0;
        opacity: 1; }
      section.section7 .desktop-md .wrap .block.block2 {
        -webkit-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        transition-delay: 0.25s; }
      section.section7 .desktop-md .wrap .block.block3 {
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s; }
      section.section7 .desktop-md .wrap .block .img {
        padding: 0 15%;
        position: relative;
        z-index: 2; }
        @media (max-width: 1023px) {
          section.section7 .desktop-md .wrap .block .img {
            padding: 0 20%; } }
      section.section7 .desktop-md .wrap .block .text {
        text-align: center;
        font-size: 1.38em;
        color: #af0303;
        margin-top: 10%;
        font-weight: 300;
        position: relative;
        z-index: 1; }
        @media (max-width: 1600px) {
          section.section7 .desktop-md .wrap .block .text {
            font-size: 1.25em; } }
        @media (max-width: 1023px) {
          section.section7 .desktop-md .wrap .block .text {
            margin: 10px 0; } }
        section.section7 .desktop-md .wrap .block .text p.celeb-name {
          color: black;
          padding-top: 20px; }
        section.section7 .desktop-md .wrap .block .text:before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../images/29.png") center no-repeat;
          background-size: 100%;
          z-index: -1;
          width: 150px;
          height: 150px;
          opacity: 0.5;
          -webkit-transform: translate(20%, -70%);
          -ms-transform: translate(20%, -70%);
          transform: translate(20%, -70%); }
          @media (max-width: 1600px) {
            section.section7 .desktop-md .wrap .block .text:before {
              -webkit-transform: translate(20%, -40%);
              -ms-transform: translate(20%, -40%);
              transform: translate(20%, -40%); } }
          @media (max-width: 1365px) {
            section.section7 .desktop-md .wrap .block .text:before {
              -webkit-transform: translate(35%, -23%);
              -ms-transform: translate(35%, -23%);
              transform: translate(35%, -23%); } }
          @media (max-width: 1023px) {
            section.section7 .desktop-md .wrap .block .text:before {
              -webkit-transform: translate(100%, -50%);
              -ms-transform: translate(100%, -50%);
              transform: translate(100%, -50%); } }
          @media (max-width: 767px) {
            section.section7 .desktop-md .wrap .block .text:before {
              -webkit-transform: translate(55%, -25%);
              -ms-transform: translate(55%, -25%);
              transform: translate(55%, -25%); } }

section.section8 {
  padding: 3% 0; }
  section.section8 .desktop-w .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #8d0202;
    border-radius: 10px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    @media (max-width: 1023px) {
      section.section8 .desktop-w .wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
    section.section8 .desktop-w .wrap.animate {
      top: 0;
      opacity: 1; }
    section.section8 .desktop-w .wrap:before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border: 3px solid #af0303;
      border-radius: 10px;
      z-index: 0; }
    section.section8 .desktop-w .wrap .text {
      width: 60%;
      padding: 7% 2% 7% 5%; }
      @media (max-width: 1023px) {
        section.section8 .desktop-w .wrap .text {
          width: 100%;
          padding: 20px 30px; } }
      section.section8 .desktop-w .wrap .text p {
        font-size: 1.375em; }
        @media (max-width: 1600px) {
          section.section8 .desktop-w .wrap .text p {
            font-size: 1.25em; } }
        @media (max-width: 1023px) {
          section.section8 .desktop-w .wrap .text p {
            font-size: 1.125em; } }
        section.section8 .desktop-w .wrap .text p span {
          color: #ffe306; }
    section.section8 .desktop-w .wrap .images {
      width: 40%;
      position: relative; }
      @media (max-width: 1023px) {
        section.section8 .desktop-w .wrap .images {
          width: 100%; } }
      section.section8 .desktop-w .wrap .images .img {
        position: absolute; }
        @media (max-width: 1023px) {
          section.section8 .desktop-w .wrap .images .img {
            position: unset; } }

section.author {
  padding: 3% 0; }
  section.author .desktop-w .item {
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 50px;
    opacity: 0;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s; }
    @media (max-width: 1023px) {
      section.author .desktop-w .item {
        font-size: 1em; } }
    section.author .desktop-w .item.animate {
      opacity: 1;
      top: 0; }
    section.author .desktop-w .item span {
      color: #ffe306;
      text-shadow: 4px 4px 3px black;
      display: inline-block;
      position: relative;
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s;
      top: 0; }
      section.author .desktop-w .item span:hover {
        top: -5px;
        -webkit-transition: ease 0.3s;
        -o-transition: ease 0.3s;
        transition: ease 0.3s; }
